<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,64}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{1,132},{95,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ani11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,110}</string>
                <key>spriteSourceSize</key>
                <string>{75,110}</string>
                <key>textureRect</key>
                <string>{{162,1},{75,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,63}</string>
                <key>spriteSourceSize</key>
                <string>{93,63}</string>
                <key>textureRect</key>
                <string>{{67,132},{93,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ani7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,77}</string>
                <key>spriteSourceSize</key>
                <string>{75,77}</string>
                <key>textureRect</key>
                <string>{{162,113},{75,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,129}</string>
                <key>spriteSourceSize</key>
                <string>{75,129}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,124}</string>
                <key>spriteSourceSize</key>
                <string>{82,124}</string>
                <key>textureRect</key>
                <string>{{78,1},{82,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Anim1.png</string>
            <key>size</key>
            <string>{238,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6b136a32cc2830ac2a3de9a0c29246e:705e0fd6a1cca0106e27c22ee49a5354:0139a0f6a918c635dc7e029f7d2004a0$</string>
            <key>textureFileName</key>
            <string>Anim1.png</string>
        </dict>
    </dict>
</plist>
