<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,171}</string>
                <key>spriteSourceSize</key>
                <string>{168,171}</string>
                <key>textureRect</key>
                <string>{{1,801},{168,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ani2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,284}</string>
                <key>spriteSourceSize</key>
                <string>{187,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{187,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,252}</string>
                <key>spriteSourceSize</key>
                <string>{184,252}</string>
                <key>textureRect</key>
                <string>{{1,547},{184,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,139}</string>
                <key>spriteSourceSize</key>
                <string>{214,139}</string>
                <key>textureRect</key>
                <string>{{1,1198},{214,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ani5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,258}</string>
                <key>spriteSourceSize</key>
                <string>{187,258}</string>
                <key>textureRect</key>
                <string>{{1,287},{187,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,147}</string>
                <key>spriteSourceSize</key>
                <string>{225,147}</string>
                <key>textureRect</key>
                <string>{{1,971},{225,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Anim.png</string>
            <key>size</key>
            <string>{189,1413}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:529def1642943b51865ca6ad140ef75d:d7e12e35397fafbf5dcc2996a27b5f19:c4bba46964f32c22d0ead26a9f7ead44$</string>
            <key>textureFileName</key>
            <string>Anim.png</string>
        </dict>
    </dict>
</plist>
