<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Die1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,111}</string>
                <key>spriteSourceSize</key>
                <string>{121,111}</string>
                <key>textureRect</key>
                <string>{{127,1},{121,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Die2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,108}</string>
                <key>spriteSourceSize</key>
                <string>{124,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Die3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,109}</string>
                <key>spriteSourceSize</key>
                <string>{120,109}</string>
                <key>textureRect</key>
                <string>{{250,1},{120,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Die.png</string>
            <key>size</key>
            <string>{371,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b37de8168e984ff1997840d6811851e1:755c692e3360bc69f77108a65bb6402e:f623c01f2d4dd2bc0f89e63912f3ede5$</string>
            <key>textureFileName</key>
            <string>Die.png</string>
        </dict>
    </dict>
</plist>
